body {
    background-color: #E8FFFF;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 320px;
    height: 320px;
}

.property {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.property .container {
    border-radius: 50%;
}

.property .container:nth-of-type(1) {
    background-color: #A6F6F1;
}

.property .container:nth-of-type(2) {
    background-color: #41AEA9;
}

.property .container:nth-of-type(3) {
    background-color: #213E3B;
}

.property .container:nth-of-type(4) {
    background-color: #212121;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 600px;
    align-items: center;
}

.exceed {
    width: 200px;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    width: 100px;
    margin: 10px;
    height: 40px;
    margin-top: 0px;
    background: #3BACB6;
    border: 2px solid #16003B;
    border-radius: 5px;
    font-size: 15px;
}

.light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 3px solid #212121;
}

.dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    border: 3px solid #A6F6F1;
}

.text,
.time {
    font-size: 23px;
    margin-top: 0px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:428px) {

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .bundle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 250px;
    }

    .btn {
        width: 100px;
        margin: 10px;
        height: 50px;
        margin-top: 0px;
        background: #3BACB6;
        border: 2px solid #16003B;
        border-radius: 5px;
        font-size: 20px;
    }
}